<div id="resultSection" class="section light-blue">

		<div class="section-container">
			<div class="rich-text">
				<h2 id="result-heading">Results</h2>
			</div>
		</div>
		<div class="section-container">
			<h3>Overall Data Quality Report</h3>
			<div id="results1" class="middle">
				<p>Results will be shown here</p>
			</div>
			<div id="loader1"></div>
		</div>
		<div class="section-container section-flex">
			<div class="one-third">
				<div id="traffic_map_space" style="height: 250px; padding:10px;"></div>
			</div>
			<div class="two-thirds">
				<div id="traffic_dots_space"></div>
				<div id="traffic_text_space"></div>
				<div id="report_metadata_space"></div>
			</div>
		</div>

		<div class="section-container">
			<h3>Data Quality Indicators</h3>
			<div id="results2" class="middle">
				<p>Results will be shown here</p>
			</div>
			<div id="loader2"></div>
			{{indicators}}
		</div>
		<div id="indicatorSpace">
		</div>

</div>